
$primary-color: #4CAF50;
$secondary-color: #f2f2f2;
$text-color: #333;


$font-size-base: 16px;
$font-size-heading: 24px;


$breakpoints: (
  mobile: 576px,
  tablet: 768px,
  desktop: 1024px
);


@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}


.news-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr; 

  @include respond-to(tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}
